Source: runa-tracebox
Section: net
Priority: extra
Maintainer: Runa Barik <runabk@ifi.uio.no>
Build-Depends: autoconf,
               autotools-dev,
               debhelper (>= 9),
               gcc (>= 6.3.0),
               git,
               libcurl4-gnutls-dev,
               libjson-c-dev,
               liblua5.2-dev,
               libnetfilter-queue-dev,
               libpcap-dev,
               lua-ldoc,
               lua-sec,
               lua5.2,
               luarocks
Standards-Version: 4.1.4
Homepage: http://www.tracebox.org

Package: runa-tracebox
Architecture: any
Depends: libcurl4-gnutls-dev,
         libjson-c3 | libjson-c2,
         liblua5.2-0,
         libnetfilter-queue1,
         libpcap0.8,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: tracebox
Replaces: tracebox
Provides: tracebox
Recommends: iputils-ping,
            iputils-tracepath,
            netperfmeter,
            rsplib-tools,
            subnetcalc,
            traceroute,
            whois
Description: Runa's Tracebox
 Tracebox is a tool that allows to detect middleboxes on any paths, i.e.,
 between a source and any destination. Tracebox can be viewed as a tool similar
 to traceroute as it uses ICMP replies to identify changes in the packets.
