Source: tracebox
Section: net
Priority: extra
Maintainer: Gregory Detal <gregory.detal@uclouvain.be>
Build-Depends: autoconf,
               autotools-dev,
               debhelper (>= 8.0.0),
               liblua5.2-dev,
               libpcap-dev,
               lua5.2,
               pkg-config
Standards-Version: 3.9.4
Homepage: http://www.tracebox.org

Package: tracebox
Architecture: any
Depends: liblua5.2-0,
         libpcap0.8,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            netperfmeter,
            rsplib-tools,
            subnetcalc,
            traceroute,
            whois
Description: Tracebox
 Tracebox is a tool that allows to detect middleboxes on any paths, i.e.,
 between a source and any destination. Tracebox can be viewed as a tool similar
 to traceroute as it uses ICMP replies to identify changes in the packets.
