Source: runa-tracebox
Section: net
Priority: extra
Maintainer: Olivier Tilmans <olivier.tilmans@uclouvain.be>
Build-Depends: autoconf,
               autotools-dev,
               debhelper (>= 10.2.5),
               gcc (>= 6.3.0),
               git,
               libcurl4-gnutls-dev,
               libjson-c-dev,
               liblua5.2-dev,
               libnetfilter-queue-dev,
               libpcap-dev,
               lua-ldoc,
               lua-sec,
               luarocks
Standards-Version: 0.4.4
Homepage: http://www.tracebox.org

Package: runa-tracebox
Architecture: any
Depends: libcurl4-gnutls-dev,
         libjson-c3,
         liblua5.2-0,
         libnetfilter-queue1,
         libpcap0.8,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            netperfmeter,
            rsplib-tools,
            subnetcalc,
            traceroute,
            whois
Description: Tracebox
 Tracebox is a tool that allows to detect middleboxes on any paths, i.e.,
 between a source and any destination. Tracebox can be viewed as a tool similar
 to traceroute as it uses ICMP replies to identify changes in the packets.
